<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- this link takes the styles from the public folder -->
  <link rel="stylesheet" href="/css/styles.css">
  <!-- google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
  <!-- resonsive meta tag -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>DayTrack</title>
</head>

<body>
