
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DayTrack</title>
  </head>
  <body>
      <h1><%= day %></h1>
      <ul>
        <li>Buy food</li>
        <li>Take dog out/li>
        <li>Code more</li>
        <li><%= newListItem %></li>
      <form class="" action="/" method="post">
         <input type="text" name="newItem" placeholder="add task">
         <button type="submit" name="button">Add</button>
      </form>
  </body>
</html>
